@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Manrope', sans-serif;
}

@keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

body{
    /* background: linear-gradient(-45deg, #ff901a, #73b9c4, #aab4be, #ff901a); */
	background-size: 400% 400%;
	/* animation: gradient 15s ease infinite; */
	height: 100vh;
    display: grid;
    place-items: center;
  }

  /* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

.container{
    display: grid;
    place-items: center;
    border: 5px white;
    border-radius: 25px;
    border-style:dotted;
    width: 500px;        
    height: 500px;
}

.child{
    align-self: center;
    justify-self: center;
    color: white;
    text-align: center;
}

.location{
    margin-bottom: 20px;
}

#local {
    margin-bottom: 20px;
}
